  <p>We strongly encourage you to join <a href="http://forums.couch.io">the Couchio forums</a>. There, Couchio engineers and users like yourself will be discussing the hosting platform. We are very interested in hearing your opinions and other feedback about how Couchio hosting can be improved to serve you best.</p>
  <p>During the private beta, hosting is provided free of charge. Later, we will introduce a fee structure during which we will grant discounts to private beta testers.</p>      
  <img src="/images/couchio_illu_home.png" class="couch"/>
</div>