body {
  background-position: 0 0;
}
#flash {
  color : #f00;
}

form {
  text-align: center;
}

.small_footer {
  clear: both;
  margin: 3em 0 0 0;
  padding: 1.5em 0;
  color: #EAE8E8;
  background-color: #191919;  
  width: 100%;
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

.small_footer .container {
  margin-bottom: 0;
}

.header h2 {
  text-align: center;
  width: 485px;
}