{{>header}}
      <div id="flash"></div>
      <p class="lead">To become test a hosting beta-tester, fill out this form, and you'll be directed to your very own instance of <a href="http://couchdb.apache.org">Apache CouchDB</a>.</p>
      <div class="span-6">
        <form class="main">
          <h3 class="pretty"><span>Choose your Address</span></h3>
          <p>Dear Couchios,</p>
          <p>
            Please set up an <a href="http://couchdb.apache.org">Apache CouchDB</a> server for me, hosted at the address<br />
            <tt><input class="init" type="text" name="subdomain" value="mycouch" />.couchone.com</tt>.
          </p>
          <p>
            To contact me about my service, please email<br />
            <input type="text" name="email" value="{{invite_email}}" size="{{email_length}}" />.
          </p>
          <p class="pretty_last">
            <input type="submit" value="Thank you" class="btn" />
          </p>
        </form>
      </div>

      <div class="span-6 last">
        <div class="main">
          <h3 class="pretty"><span>Join our Forums</span></h3>
          <p class="pretty_last">We strongly encourage you to join <a href="http://forums.couch.io">the Couchio forums</a>. There, Couchio engineers and users like yourself will be discussing the hosting platform. We are very interested in hearing your opinions and other feedback about how Couchio hosting can be improved to serve you best.
          </p>
        </div>
      </div>
      
    {{>footer}}

  </body>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js"></script>
  <script src="/_utils/script/jquery.couch.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      var error = function(resp) {
        if (resp.reason) {
          $("#flash").text("Error: "+resp.reason);
        } else {
          $("#flash").text("Oops, something went wrong. We are terribly sorry! Please contact hosting@couch.io with details.");
        }
      };

      $("input.init").click(function() {
        var input = $(this);
        input.val("");
        input.removeClass("init");
      });

      $("form").submit(function(ev) {
        var subdomain = $("input[name=subdomain]").val();
        if (subdomain == "mycouch" || subdomain == "") {
          ev.preventDefault();
          $("#flash").text("Please enter a subdomain first.");
        } else {
          var form = this;
          var id = document.location.href.split("/").pop();
          var invites_db = $.couch.db("invites");
          var servers_db = $.couch.db("subdomains");

          // first check to see about the subdomain availablity

          servers_db.openDoc(subdomain, {
             // take that, API!
            success : function(view) {
              if (view.rows.length > 0) {
                error({"reason":"The subdomain "+subdomain+" is already taken."});
              } else {
                invites_db.openDoc(id, {
                  success : function(doc) {
                    if (subdomain == "mycouch" || subdomain == "") {
                      $("#flash").text("You need to set the subdomain first.");
                    } else {
                      doc.subdomain = subdomain;
                      doc.signup_email = $("input[name=email]").val();
                      doc.state = "rsvp";
                      invites_db.saveDoc(doc, {
                        error : error,
                        success : function() {
                          $(form).html("Your Couch is under contruction. When it is ready, you will receive an email with a link to your couch.");
                        }
                      });
                    }
                  },
                  error : error
                });
              }
            },
            error : error
          });
          return false;
        }
      });
    });
  </script>
</html>
