{{>header}}
      <div id="flash">
         <p><strong>Your Apache CouchDB instance is under construction.</strong></p>
         <p>
          When your server is ready, you will receive login instructions in your email.
         </p>
      </div>
  {{>footer}}
  </body>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js"></script>
  <script src="/_utils/script/jquery.couch.js"></script>
  <!--
  <script type="text/javascript" charset="utf-8">
    $(function() {
      setTimeout(function() {
        history.go(0);
      }, 5000);
    });
  </script>
  -->
</html>
