body {
  background-color: #dcc;
}

#doc {
  background-color: white;
}

#doc #ft {
  margin-top: 0.2em;
}

#doc #hd h1 {
  font-weight: bold;
  font-size: 125%;
}

#doc > #bd > .yui-b {
  /* Sidebar */
}

#doc > #bd > #yui-main > .yui-b {
  border-left: 2px dashed #ccc;
  padding-left: 0.5em;
}

#doc #flash.flash {
  border: 2px solid black;
  font-weight: bold;
  font-size: 125%;
  margin: 0.5em;
  padding: 1em;
  background-color: #d66;
}

#main h2 {
  font-weight: bold;
  border-bottom: 1px solid black;
  font-size: 125%;
}

#main table.servers {
  border-collapse:collapse;
  font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;
  text-align:left;
  width: 100%;
}

#main table.servers th {
  color:#003399;
  font-size:14px;
  font-weight:normal;
}

#main table.servers td {
  color:#666699;
}

#main table.servers .odd {
  background:none repeat scroll 0 0 #E8EDFF;
}
