<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index,follow"/>
    <meta name="revisit-after" content="2 days"/>
    <meta name="revisit" content="2 days"/>
    <meta name="author" content=""/>
    <meta name="copyright" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="geo.country" content=""/>

    <title>Easy Hosting — CouchDB: The NoSQL Document Database</title>

    <link rel="stylesheet" href="http://www.couch.io/stylesheets/screen.css" type="text/css" media="screen, projection" /> 
    <link rel="stylesheet" href="http://www.couch.io/stylesheets/temp.css" type="text/css" media="screen, projection" /> 
    <link rel="stylesheet" href="http://www.couch.io/stylesheets/print.css" type="text/css" media="print" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="/couchio/_design/couchio/stylesheets/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico" />

  </head>

  <body>
    <a href="http://couch.io/couchcamp" title="Real Couch. Real Camp." style="display: block; position: fixed; top: 0; right: 0; background: transparent url(img/ribbons/couchcamp_ribbon_wb.png) no-repeat 0 0; width: 200px; height: 200px; text-indent: -9999px; z-index: 9999; outline: none;">CouchCamp</a>
    <div class="wrap">
      <div class="wrap_inner clearfix">
        <!-- start topnav -->
                <div class="navbar">
          <ul class="nav inline_list">
            <li class=""><a href="/" title="Home Sweet Home">Home<span>Home Sweet Home</span></a></li>
            <li class=""><a href="/docs" title="Documentation">Documentation<span>To learn all about CouchDB</span></a></li>
            <li class=""><a href="/community" title="Community">Community<span>Open Source Help</span></a></li>
            <li class=""><a href="/services" title="Professional Services">Pro Services<span>Support, Consulting, Training</span></a></li>
            <li class="active"><a href="/hosting" title="Easy CouchDB Hosting">Hosting<span>Sign up for the Beta</span></a></li>
            <li class="last "><a href="/downloads" title="Download CouchDB">Downloads<span>Download CouchDB</span></a></li>
          </ul>
        </div>
        <!-- end topnav -->

        <div class="container showgri">
        <!-- start header -->
          <div class="header index">
            <h1 class="logo">
              <a href="/" title="Home">Couchio</a>
            </h1>
            <p class="tagline">There’s no wrong way to say Couchio</p>
            
            <div class="illu index couch"></div>
            </div>
          <!-- end header -->
    <h2>Hosting</h2>

  <div class="span-12 content last">    
    <div class="main">

      <div class="main_sidebar">
      </div>
      <div class="main_content">
        <p class="big_lead">
          Hooray, your CouchDB instance is now ready at: <a href="http://{{subdomain}}.couchone.com/_utils/">http://{{subdomain}}.couchone.com/_utils/</a>
        </p>
      </div> 

      <div class="main_content last">
        <div class="main">
          <h3 class="pretty"><span>Join our Forums</span></h3>
          <p class="">We strongly encourage you to join <a href="http://forums.couch.io">the Couchio forums</a>.
          There, Couchio engineers and users like yourself can discuss the hosting platform or any CouchDB topics. We are very interested
          in hearing your opinions and feedback about how Couchio hosting can be improved to serve you best.
          </p>
          <p class="last">
            The forums are independent from hosting; however, if you use the same email address, we can more quickly find your hosting
            account when helping you with any problems or issues you bring up.
          </p>
        </div>
      </div>

    </div>
  </div>
  
</div>
        </div>
      </div>
    </div>
    <!-- start footer -->
    <div class="footer">
      <div class="container">
        <a href="http://couchdb.org/" class="illu footer_link" title="Find Open Source Apache CouchDB">Find Open Source Apache CouchDB</a>
      </div>
      <div class="footer_nav">
        <ul class="inline_list">
          <li><a href="/contact" title="Contact">Contact</a></li>
          <li><a href="/about" title="About Couchio">About</a></li>
          <li><a href="http://blog.couch.io/" title="Couchio Blog">Blog</a></li>
          <li><a href="http://www.twitter.com/couchio/" title="Couchio on Twitter">Twitter</a></li>
          <li class="dbl"><a href="http://couchdb.org/" title="Find Open Source Apache CouchDB">Find Open Source Apache CouchDB</a></li>
        </ul>            
        <p class="copyright center">© 2010 Couchio, a Relaxed Company</p>
      </div>
    </div>
    <!-- end footer -->

    </body>
    <!-- This is for Pingdom: hosting_create_confirmed -->
</html>
