<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Couch Hosting: {{title}}</title>
  <link rel="stylesheet" type="text/css" href="/a/yui/2/reset-fonts-grids.css">
  <link rel="stylesheet" type="text/css" href="/a/css/app.css">
</head>
<body>
<div id="doc" class="yui-t1">
  <div id="hd">
    {{>hd}}
    <div id="flash" class="none"></div>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div id="main" class="yui-b">{{>main}}</div>
    </div>
    <div id="sidebar" class="yui-b">{{>sidebar}}</div>
  </div> 
  <div id="ft">{{>ft}}</div>
</div>
</body>

<script src="/_utils/script/json2.js"></script>
<script src="/_utils/script/jquery.js"></script>
<script src="/_utils/script/jquery.couch.js"></script>
<script src="/a/js/jquery.mustache.js"></script>
<script src="/a/js/lib.js"></script>
<script>{{{js}}}</script>

</html>
