<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Couch Hosting: {{title}}</title>
  <link rel="stylesheet" type="text/css" href="/a/yui/2/reset-fonts-grids.css">
  <link rel="stylesheet" type="text/css" href="/a/css/app.css">
</head>
<body>
<div id="doc" class="yui-t1">
  <div id="hd">
    {{>hd}}
    <div id="flash"></div>
  </div>
  <div id="bd">
    <div id="yui-main">
      <div id="main" class="yui-b">{{>main}}</div>
    </div>
    <div id="sidebar" class="yui-b">{{>sidebar}}</div>
  </div> 
  <div id="ft">{{>ft}}</div>
</div>
</body>

<script src="vendor/couchapp/loader.js"></script>
<script type="text/javascript" charset="utf-8">
  var opts = {db:'db', design:'hosting'};
  $.couch.app(function(app) {
    $("#account").evently("account", app);
    $("#profile").evently("profile", app);
    $.evently.connect("#account","#profile", ["loggedIn","loggedOut"]);
    $("#items").evently("items", app);
  }, opts);
</script>

<script src="/a/js/lib.js"></script>
<script>{{{js}}}</script>

</html>
